<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.INoticeMapper">

    <!--게시글 등록(제목, 카테고리) 그외 디폴트 값 -->
    <insert id="InsertNoticeInfo" parameterType="NoticeDTO">
        INSERT INTO work.post
            (
                MEMBER_MEMBER_ID,
                POST_CATEGORY,
                POST_TITLE
            )
            VALUES(
                #{member_id},
                #{post_category},
                #{post_title}
            )
    </insert>

    <!--게시글 내용 등록 조회성능을 위해 테이블 분리 -->
    <insert id="ContentNotice" parameterType="NoticeDTO">
        INSERT INTO work.post_content
                (
                CONTENT
                )
        VALUES(
                #{content}
              )
    </insert>

    <!-- 게시판 리스트 쿼리 -->
    <select id="getNoticeList" resultType="NoticeDTO">
        SELECT P.POST_VIEW, P.POST_RECOM, P.POST_TITLE, P.POST_ID, M.MEMBER_NIC
        FROM work.POST P, work.MEMBER M
        WHERE P.MEMBER_MEMBER_ID = M.MEMBER_ID
    </select>

</mapper>
